<include href = "views/includes/header.html"></include>
<div class = "container">
    <img id = "navImage" class="d-none" src="images/office.jpg" alt="picture of office">
    <div id="navContent" class = "">
        <h5>A.A. Bionics</h5>
        <h5>Software Development Application</h5>
        <span>Seattle Washington, 12 weeks</span>
    </div>
</div>
<form class="p-3 mb-2 bg-light row justify-content-between" action="#" method="post">
    <span>Experience</span>
    <div class="row gx-2 col-8 d-flex align-content-between flex-wrap">
        <label for="bio" class="form-label">Biography</label>
        <textarea id="bio" class="form-control" rows="7" name="bio"></textarea>
    </div>
    <div id="right" class="col-md-4 position-relative d-flex align-content-between flex-wrap">
        <div class="col-12">
            <label for="gitLink" class="form-label">Github Link</label>
            <input type="text" class="form-control" name="gitLink" id="gitLink" value="">
            <check if="{{ isset(@errors['gitLink']) }}">
                <span class="invalid">{{ @errors['gitLink'] }}</span>
            </check>
        </div>
        <div class="col-12">
            <label class="form-label required">Years Experience</label><br>
            <div class="expLabel">
                <repeat group = "{{ @years }}" value="{{ @year }}">
                    <label><input type="radio"
                                  name="yearsExp"
                                  id="{{ @year}}"
                                  value="{{ @year}}"
                                  <check if="{{ @year == @userYear }}">
                                      checked = "checked"
                                  </check>
                    > {{ @year }}</input></label>
                </repeat>
                <check if="{{ isset(@errors['yearsExp']) }}">
                    <span class="invalid">{{ @errors['yearsExp'] }}</span>
                </check>
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Willing to Relocate</label><br>
            <div class="expLabel">
                <repeat group="{{ @relocateOptions}}" value="{{ @relocateOption}}">
                    <label><input type="radio"
                                  name="relocate"
                                  id="{{ @relocateOption }}"
                                  value="{{ @relocateOption }}"
                    > {{ ucfirst(@relocateOption) }}</input></label>
                </repeat>
                <check if="{{ isset(@errors['relocate']) }}">
                    <span class="invalid">{{ @errors['relocate'] }}</span>
                </check>
            </div>
        </div>
        <p id="required_field">* is a required field</p>
        <button type="submit" class="rounded w-100 form-control">Next &gt;</button>
    </div>
</form>
<include href = "views/includes/footer.html"></include>