<include href = "views/includes/header.html"></include>
<div class = "container">
    <img id = "navImage" class="d-none" src="images/office.jpg" alt="picture of office">
    <div id="navContent" class = "">
        <h5>A.A. Bionics</h5>
        <h5>Software Development Application</h5>
        <span>Seattle Washington, 12 weeks</span>
    </div>
</div>
<form class="p-3 mb-2 bg-light row justify-content-between" action="#" method="post">
    <span>Experience</span>
    <div class="row gx-2 col-8 d-flex align-content-between flex-wrap">
        <label for="bio" class="form-label">Biography</label>
        <textarea id="bio" class="form-control" rows="7"></textarea>
    </div>
    <div id="right" class="col-md-4 position-relative d-flex align-content-between flex-wrap">
        <div class="col-12">
            <label for="gitLink" class="form-label">Github Link</label>
            <input type="text" class="form-control" name="gitLink" id="gitLink">
        </div>
        <div class="col-12">
            <label class="form-label">Years Experience</label><br>
            <div class="expLabel">
                <label><input type="radio"  name="zeroToTwo" id="zeroToTwo"> 0-2</input></label>
                <label><input type="radio"  name="twoToFour" id="twoToFour"> 2-4</input></label>
                <label><input type="radio"  name="fourPlus" id="fourPlus"> 4+</input></label>
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Willing to Relocate</label><br>
            <div class="expLabel">
                <label><input type="radio"  name="yes" id="yes"> Yes</input></label>
                <label><input type="radio"  name="no" id="no"> No</input></label>
                <label><input type="radio"  name="maybe" id="maybe"> Maybe</input></label>
            </div>
        </div>
        <button type="submit" class="rounded w-100 form-control"><a href="mailing-list">Next &gt;</a></button>
    </div>
</form>
<include href = "views/includes/footer.html"></include>