<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <title>Tech Application</title>
    </head>
    <body>
        <nav>
            <h5>A.A. Bionics</h5>
            <h5>Software Development Application</h5>
            <span>Seattle Washington, 12 weeks</span>
            <button type="submit">Apply Now</button>
        </nav>
        <img src="images/office.jpg">
        <div>
            <h3>About the Internship</h3>
            <p>
                Our internship provides base level knowledge on languages and applications, as well as standard
                procedures and practices for automations and prosthetic understandings. Throughout the training you
                will meet with your supervisor regularly to facilitate your success in meeting your professional goals.
            </p>
        </div>
        <div>
            <h3>More About Us</h3>
            <p>
                As a small company taking on the role of providing high-quality equipment to hospitals and clinics,
                A.A. Bionics aims to continue producing technological advancements that give amputees a better quality
                of life. With an inspiring company culture and dedicated team focusing on Diversity, Equity, and
                Inclusion, A.A. Bionics drives the race for innovating improvements to automated prosthetics.
                Here at A.A. Bionics, we ensure that every employee is equally important to the team. Steady momentum
                is a direct result of our team cohesion. We like to keep the work environment here casual to give
                employees more independence and less supervision instead of the traditional hierarchical structure.
                By having fewer supervisors, we give employees more responsibility. As mentioned in this article,
                <a href="https://www.ispatguru.com/comparison-between-hierarchical-and-flat-organization-structures/#:~:text=Hierarchical%20organizational%20structures%20feature%20numerous,feature%20less%20layers%20of%20management.">Hierarchical vs Organizational</a>
                , more productivity is done when employees are given more freedom and power in their daily tasks.
                Additionally, we hold many events to involve the families of employees to build a better
                work/life balance.
                <br>
                <br>
                We at A.A. Bionics ensure everyone is working to their potential while also taking the necessary
                precautions against being overworked. In fact, according to the CDC, productivity is
                greatly affected by the amount of rest employees get. More about this topic from the National
                Library of Medicine can be read here,
                <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5627640/">Why Sleep Matters</a>. We ensure
                our employees are taking regular breaks and vacations. In conjecture with our company mission to
                provide long-term care and prosthetic equipment, we also focus on long-term care for our own employees.
                A.A. Bionics will continue to work towards providing employees with a workplace that helps them grow
                and build themselves whether they work here for 20 years or five years.</p>
            </p>
        </div>
        <div>
            <h3>Meet Our Team</h3>
            <p>
                "The importance of an inclusive environment is to allow others to help you build it." - Anthony, CEO
                <br>
                "This company provide extraordinary long-term care and prosthetics to improve quality of life,
                everyday functionality, and overall satisfaction." - John Doe, Senior Developer
            </p>
        </div>
        <button type="submit">Apply Now</button>
    </body>
</html>