<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/styles.css">
        <title>Tech Application</title>
    </head>
    <body>
        <div class="container">
            <nav>
                <h5>A.A. Bionics</h5>
                <h5>Software Development Application</h5>
                <button class="rounded " type="submit">APPLY NOW</button>
                <span>Seattle Washington, 12 weeks</span>
            </nav>
            <div class="row bg-light p-3">
                <div class="col-5">
                    <h3>About the Internship</h3>
                    <p>
                        Our internship provides base level knowledge on languages and applications, as well as standard
                        procedures and practices for automations and prosthetic understandings. Throughout the training you
                        will meet with your supervisor regularly to facilitate your success in meeting your professional goals.
                    </p>
                    <h3>More About Us</h3>
                    <p>
                        As a small company taking on the role of providing high-quality equipment to hospitals and clinics,
                        A.A. Bionics aims to continue producing technological advancements that give amputees a better quality
                        of life. With an inspiring company culture and dedicated team focusing on Diversity, Equity, and
                        Inclusion, A.A. Bionics drives the race for innovating improvements to automated prosthetics.
                        Here at A.A. Bionics, we ensure that every employee is equally important to the team. Steady momentum
                        is a direct result of our team cohesion. We like to keep the work environment here casual to give
                        employees more independence and less supervision instead of the traditional hierarchical structure.
                        By having fewer supervisors, we give employees more responsibility. We believe more productivity is done
                        when employees are given more freedom and power in their daily tasks. Additionally, we hold
                        many events to involve the families of employees to build a better work/life balance.
                    </p>
                    <h3>Meet Our Team</h3>
                    <p id="quotes">
                        "The importance of an inclusive environment is to allow others to help you build it." - Anthony, CEO
                        <br>
                        "This company provide extraordinary long-term care and prosthetics to improve quality of life,
                        everyday functionality, and overall satisfaction." - John Doe, Senior Developer
                    </p>
                    <button class="rounded d-grid gap-2 col-3 mx-auto" type="submit">APPLY NOW</button>
                </div>
                <img class="rounded col-7 my-3" src="images/office.jpg">
            </div>
            <footer class="bg-dark-subtle">
                <br>
                <br>
            </footer>
        </div>
    </body>
</html>