<include href = "views/includes/header.html"></include>
<div class = "container">
    <img id = "navImage" class="d-none" src="images/office.jpg" alt="picture of office">
    <div id="navContent" class = "">
        <h5>A.A. Bionics</h5>
        <h5>Software Development Application</h5>
        <span>Seattle Washington, 12 weeks</span>
    </div>
</div>
<form class="p-3 mb-2 bg-light row justify-content-between" action="#" method="post">
    <span>Job Openings Mailing Lists</span>
    <div class="col-12">
        <label class="form-label">Software Development Jobs</label><br>
        <div class="sdevJobs row row-cols-4 gy-2">
            <label class="col"><input type="checkbox"  name="sdevJobs[]" value="JavaScript"> JavaScript</input></label>
            <label class="col"><input type="checkbox"  name="sdevJobs[]" value="PHP"> PHP</input></label>
            <label class="col"><input type="checkbox"  name="sdevJobs[]" value="Java"> Java</input></label>
            <label class="col"><input type="checkbox"  name="sdevJobs[]" value="Python"> Python</input></label>
            <label class="col"><input type="checkbox"  name="sdevJobs[]" value="HTML"> HTML</input></label>
            <label class="col"><input type="checkbox"  name="sdevJobs[]" value="CSS"> CSS</input></label>
            <label class="col"><input type="checkbox"  name="sdevJobs[]" value="ReactJS"> ReactJS</input></label>
            <label class="col"><input type="checkbox"  name="sdevJobs[]" value="NodeJs"> NodeJs</input></label>
        </div>
    </div>
    <div class="col-12">
        <label class="form-label">Industry Verticals</label><br>
        <div class="industryVert row row-cols-4 gy-2">
            <label class="col"><input type="checkbox"  name="industryVert[]" value="SaaS"> SaaS</input></label>
            <label class="col"><input type="checkbox"  name="industryVert[]" value="Health Tech"> Health Tech</input></label>
            <label class="col"><input type="checkbox"  name="industryVert[]" value="Ag Tech"> Ag Tech</input></label>
            <label class="col"><input type="checkbox"  name="industryVert[]" value="HR Tech"> HR Tech</input></label>
            <label class="col"><input type="checkbox"  name="industryVert[]" value="Industrial Tech"> Industrial Tech</input></label>
            <label class="col"><input type="checkbox"  name="industryVert[]" value="Cybersecurity"> Cybersecurity</input></label>
        </div>
    </div>
    <button type="submit" class="form-control col-4 ms-auto rounded">Next &gt;</button>
</form>
<include href = "views/includes/footer.html"></include>