<include href = "views/includes/header.html"></include>
<div class = "container">
    <img id = "navImage" class="d-none" src="images/office.jpg" alt="picture of office">
    <div id="navContent" class = "">
        <h5>A.A. Bionics</h5>
        <h5>Software Development Application</h5>
        <span>Seattle Washington, 12 weeks</span>
    </div>
</div>
<form class="p-3 mb-2 bg-light row justify-content-between" action="#" method="post">
    <span>Job Openings Mailing Lists</span>
    <div class="col-12">
        <label class="form-label">Software Development Jobs</label><br>
        <div class="sdevJobs row row-cols-4 gy-2">
            <repeat group="{{ @jobs }} " value="{{ @sdevJob }}">
                <label class="col"><input type="checkbox"
                                          name="sdevJobs[]"
                                          value="{{ @sdevJob }}"
                > {{ ucfirst(@sdevJob) }}</input></label>
            </repeat>
            <check if="{{ isset(@errors['sdevJobs']) }}">
                <span class="invalid">{{ @errors['sdevJobs'] }}</span>
            </check>
        </div>
    </div>
    <div class="col-12">
        <label class="form-label">Industry Verticals</label><br>
        <div class="industryVert row row-cols-4 gy-2">
            <repeat group="{{ @verticals }}" value="{{ @industryVert }}">
                <label class="col"><input type="checkbox"
                                          name="industryVert[]"
                                          value="{{ @industryVert }}"
                > {{ ucfirst(@industryVert) }}</input></label>
            </repeat>
            <check if="{{ isset(@errors['industryVert']) }}">
                <span class="invalid">{{ @errors['industryVert'] }}</span>
            </check>
        </div>
    </div>
    <button type="submit" class="form-control col-4 ms-auto rounded">Next &gt;</button>
</form>
<include href = "views/includes/footer.html"></include>