<!--
HTML markup for the Personal Information page.
Author: Anthony Gutierrez
File: personal_info.html
Date: 5/5/2023
-->

<include href="views/includes/header.html" xmlns="http://www.w3.org/1999/html"></include>
    <div class="container">
        <img id="navImage" class="d-none" src="images/office.jpg" alt="picture of office">
        <div id="navContent" class="">
            <h5>A.A. Bionics</h5>
            <h5>Software Development Application</h5>
            <span>Seattle Washington, Paid, 12 weeks</span>
        </div>
    </div>
    <form class="p-3 mb-2 bg-light row justify-content-between" action="#" method="post">
        <span>Personal Information</span>
        <div class="row gx-2 col-8 d-flex align-content-between flex-wrap">
            <div class="col-6">
                <label for="firstName" class="form-label required">First Name</label>
                <input type="text" class="form-control" name="firstName" id="firstName" value="{{ @userFName}}">
                <check if="{{ isset(@errors['firstName']) }}">
                    <span class="invalid">{{ @errors['firstName'] }}</span>
                </check>
            </div>
            <div class="col-6">
                <label for="lastName" class="form-label required">Last Name</label>
                <input type="text" class="form-control" name="lastName" id="lastName" value="{{ @userLName}}">
                <check if="{{ isset(@errors['lastName']) }}">
                    <span class="invalid">{{ @errors['lastName'] }}</span>
                </check>
            </div>
            <div class="col-12">
                <label for="email" class="form-label required">Email Address</label>
                <input type="email" class="form-control" name="email" id="email" value="{{ @userEmail}}">
                <check if="{{ isset(@errors['email']) }}">
                    <span class="invalid">{{ @errors['email'] }}</span>
                </check>
            </div>
            <div class="col-6">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select" name="inputState">
                    <repeat group="{{ @states }}" value="{{ @state }}">
                        <option value="{{ @state }}">{{ @state }}</option>
                    </repeat>
                </select>
                <check if="{{ isset(@errors['inputState']) }}">
                    <span class="invalid">{{ @errors['inputState'] }}</span>
                </check>
            </div>
            <div class="col-6">
                <label for="phone" class="form-label required">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="123-456-7890" value="">
                <check if="{{ isset(@errors['phone']) }}">
                    <span class="invalid">{{ @errors['phone'] }}</span>
                </check>
            </div>
            <div class="col-6">
                <div>
                    <label class="form-label">Mailing Lists</label>
                </div>
                <div class="form-switch">
                    <input type="checkbox" class="form-check-input"
                           role="switch"
                           id="isSubscribed"
                           name="isSubscribed"
                           value="true"> Sign me up for job openings mailing lists!
                </div>
            </div>
        </div>
        <div id="right" class="col-md-4 position-relative d-flex align-content-between flex-wrap">
            <p class="form-control bg-dark-subtle"><strong>Note: </strong>All information entered is
                protected by our <strong>privacy policy.</strong> Profile information can only be viewed
                by others with your permission.</p>
            <p id="required_field">* is a required field</p>
            <button type="submit" class="rounded w-100 form-control">Next &gt;</button>
        </div>
    </form>

<include href = "views/includes/footer.html"></include>