<include href = "views/includes/header.html"></include>
<div class = "container">
    <img id = "navImage" class="d-none" src="images/office.jpg" alt="picture of office">
    <div id="navContent" class = "">
        <h5>A.A. Bionics</h5>
        <h5>Software Development Application</h5>
        <span>Seattle Washington, 12 weeks</span>
    </div>
</div>
<form class="p-3 mb-2 bg-light row justify-content-between" action="#" method="post">
    <div id="p-info" class="h-50 my-2 px-3 row gx-2 col-5 border">
        <p class="border border-0">Name: {{@SESSION.firstName}} {{@SESSION.lastName}}</p>
        <p>Email: {{@SESSION.email}}</p>
        <p>State: {{@SESSION.inputState}}</p>
        <p>Phone: {{@SESSION.phone}}</p>
        <p>GitHub Link: {{@SESSION.gitLink}}</p>
        <p>Experience: {{@SESSION.yearsExp}} years</p>
        <p>Willing To Relocate: {{@SESSION.relocate}}</p>
        <p>Mailing List:
            <check if="{{ isset(@SESSION.jobs) && isset(@SESSION.verticals) }}">
                {{@SESSION.jobs}}, {{@SESSION.verticals}}
            </check>
            <check if="{{ !isset(@SESSION.verticals) && isset(@SESSION.jobs) }}">
                {{@SESSION.jobs}}
            </check>
            <check if="{{ !isset(@SESSION.jobs) && isset(@SESSION.verticals) }}">
                {{@SESSION.verticals}}
            </check>
        </p>
    </div>
    <div id="right" class="col-6">
        <img class="w-auto" src="images/profile_picture.jpg" alt="profile picture template">
        <h5>Summary</h5>
        <p class="border border-0">{{@SESSION.bio}}
        </p>
    </div>
    <button type="submit" class="rounded col-6 mx-auto text-center">Submit My Application!</button>
</form>
<include href = "views/includes/footer.html"></include>